/*
Made by: Debbie Pan, Harry Bui, Michelle Wang
COGS 187A Winter 2014

TABLE OF CONTENTS
1. General
2. HTML Elements
Footer


*/

/*
1. GENERAL
============================================ */

html, body {
  margin:0;
  padding:0;
  height: 100%;
  cursor:crosshair;
}

.screenshot{
	margin: auto;
	padding: 10px;
	float:left;
}

.clear { clear: both; }

* {
	font-family: Lato, sans-serif;
	font-weight:300;
}

img a:hover {
	opacity: 0.8;
}

a {
	cursor: crosshair;
}

#logo {
	height: 125px;
	width: 160px;
	display: block;
	margin: auto;
	padding: 5px;
}

#thumbnail {
	height: 200px;
	width: 200px;
	display: block;
	margin: auto;
	padding: 5px;
}
.description {
	padding-top:10px;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

#eval {
	margin: 5px;
	font-size: 15px;
}

.center {
	text-align: center;
}

.uppercase {
	text-transform: uppercase;
}

#home-logo {
	margin-top: 5%;
	margin-left: 13%;
	display: block;
}

.content-center {
	margin-left: 22%;
}

.subpage-center {
	margin-left: 19%;
}

/*
2. HTML ELEMENTS
============================================ */

html body { 
    background: url("../img/pixel_weave.png") repeat;
    position: relative;
    height: auto;
    width: 100%;
	color: #666; 
	text-align: left; 
}

/* heading */
h1, h2, h3, h4, h5, h6 { line-height: 1em; margin: 1em 0; }
h1 { font-size: 2.2em; color:#225681;}
h2 { font-size: 2em; color:#225681;}
h3 { font-size: 1.8em; color:#225681;}

/* paragraph */
p#offwhite {
color:#F5F5F5;
}
p#blue {
color:#225681;
}

p.italic{
font-style:italic;
}

/*
 FOOTER
============================================ */
#footer {
	margin-top: 5%;
	margin-left: 45%;
	text-transform: uppercase;
}
